{
	"root": true,

	"extends": "@ljharb",

	"parserOptions": {
		"ecmaVersion": 2022,
	},

	"rules": {
		"func-name-matching": 1,
		"no-magic-numbers": 0,
	},

	"overrides": [
		{
			"files": "test/**/*",
			"rules": {
				"id-length": 0,
			},
		},
	],
}
